---
---

@import '{{ site.theme }}';

/* append your custom style below */
.commit-detail-container {
    width: 700px;
    height: 200px;
    background-color: rgb(237, 253, 255);
    border-radius: 5px;
    padding: 10px;
    line-height: normal;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}

.tech-stack {
    font-style: italic;
 }

// td {
//     padding: 5px;
//     text-align: center;
//  }
